porta.log

# ignore changes to examples/
examples/*

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Dependency files
*.d

# Compiled binary files
gnu-make/bin/valid
gnu-make/bin/xporta

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
